#header {
    background: #023d6d;
    color: white;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    margin-top:15px;
  }

#formheader{
    background-color: rgb(179, 179, 182);
    margin-top: 15px;
}

#formtable{
    margin-left: auto;
    margin-right: auto;
}

input{
    margin: 17px auto;
    height: 25px;
    border: 1px solid gray;

}


.fromtable,tr,td{
    font-family: Arial, Helvetica, sans-serif;
    font-size:x-large;
    
}


#button{
    padding: 10px,15px;
    font-size: 20px;
    margin-top: 15px;
    border-radius: 5px;
    text-transform: uppercase;
    margin-bottom: 20px;
}



