#header {
    background: #023d6d;
    color: white;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    width: 100%;
  }

  #results,
  #calculator {
    margin: 2rem auto;
    width: 50rem;
    max-width: 90%;
    border: 1px solid #023d6d;
    border-radius: 10px;
    padding: 1rem;
    color: #023d6d;
  }
  
  #results {
    text-align: center;
  }
  
  #calculator input {
    font: inherit;
    font-size: 2rem;
    border: 2px solid #023d6d;
    width: 20rem;
    padding: 0.15rem;
    margin: auto;
    display: block;
    color: #023d6d;
    text-align: center;
  }
  
  #calculator input:focus {
    outline: none;
  }
  
  #calculator button {
    font: inherit;
    background: #023d6d;
    color: white;
    border: 1px solid #023d6d;
    padding: 1rem;
    cursor: pointer;
  }
  
  #calculator button:focus {
    outline: none;
  }
  
  #calculator button:hover,
  #calculator button:active {
    background: #084f88;
    border-color: #084f88;
  }
  
  #calc-actions button {
    width: 4rem;
  }
  
  #calc-actions {
    margin-top: 1rem;
    text-align: center;
  }


input[type=number]:read-only{
    bottom: 1px solid #000;
    background-color: #666;
    color: #fff;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}
  